.customer {
  padding: 1em 0;
  margin: 0.5rem;
  min-height: 150px;
  min-width: 225px;
  flex-basis: 18%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.customer h3 {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.25em;
}

.customer button {
  width: 50%;
  margin: 0;
  text-align: center;
  padding: 0.5em;
}

.customer h3 {
  width: 80%;
}

.customer_content {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-weight: 100;
  overflow: hidden;
}